@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,900&display=swap');

$primary: #4B5B6F;
$secondary: #343a40;
$navbar-dark-color: rgba(255, 255, 255, 0.8);
$navbar-dark-hover-color: rgba(255, 255, 255);
$font-family-base: Roboto, sans-serif;

@import '~bootstrap/scss/bootstrap';
